*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    /* align-items: center;*/
}

main #usuarios-secao{
    height: 90vh;
    flex-grow: 0;
    background-color: antiquewhite;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

/* Usuario Section */
.usuarios-conteiner{
    width: 100vw;
    height: 80vh;
    padding: 50px;
    margin-top: 60px;

    display: flex;
    flex-flow: row;
    background-color: lightgreen;
}
.usuario-item{
    width: 350px;
    height: 500px;
    border-radius: 60px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 5px; */
    background-color: lightcoral;
}
.usuario-info{
    margin-bottom: 10px;
}
.usuario-item .usuario-foto{
    width:  130px;
    height: 130px;
    background-color: aquamarine;
    border-radius: 50%;
}
.usuario-item .usuario-foto > img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.usuario-item .usuario-nome{
    width: 100%;
    height: 30px;
    background-color: darkgreen;
    font-size: 1.3rem;
}
.usuario-item .usuario-nota{
    width: 100%;
    height: 30px;
    background-color: darkcyan;
}
.usuario-item .usuario-text{
    width: 300px;
    height: 210px;
    font-size: 1.1rem;
    background-color: lightgoldenrodyellow;
}