* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
.pag_tela2 {
    display: flex;
    flex-direction: row-reverse;
}
#login h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 64px;
    text-align: center;
    color: #525252;
    font-weight: normal;
    margin-bottom: 100px;
    margin-top: 100px;
}
#login p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    color: rgb(85, 85, 85);
    padding-left: 10px;
}
button {
    height: 50px;
    width: 230px;
    border-radius: 32px;
    border: solid transparent;
    background-color: #3e76ca;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 220px;
    cursor: pointer;
}
input {
    padding-left: 15px;
    background-color: transparent;
    color: #434343;
    border: 3px solid #dcdcdc;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    border-radius: 32px;
    width: 650px;
    height: 40px;
    margin-bottom: 20px;
}
a {
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.senha {
    color: #ff5050;
}
.usuario {
    color: #626262;
}
.conteudo-tela2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 150px;
}
