* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-vacina {
    background-image: url(./img/image-pfizer-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 56vh;
}

.text-vacina {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-vacina h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 6rem;
    line-height: 141px;
    font-weight: 300;
    width: 1100px;
    text-align: center;
    margin-top: 10px;
}

.saiba-mais{
    height: 53px;
    width: 185px;
    border-radius: 32px;
    border: solid transparent;
    background-color: #3E76CA;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 25px;
    margin-top: 20px;
    transition: .3s;
}

.saiba-mais:hover {
    background-color: #2d60ad;
    cursor: pointer;
    transform: scale(103%);
}